{% extends "base.html" %}


{% block body %}
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
        
<script type="text/javascript">

        var counter = {};
 
 // FUNZIONI STANDARD DELLA PAGINA /////////////////////////////////////////////////
 
        // comunica all'iframe di fermare il refresh
        function stopRefresh() {
               return true;
        } 
 
        // questa funzione ridimensiona l'iFrame in base agli elementi mostrati
        function resizeIframe(value) {
                var new_heigth = $("#the_iframe").contents().find("body").outerHeight(true) + value;
         
                $("#the_iframe").animate(
                        {height: $("#the_iframe").contents().find("body").outerHeight(true) + value},
                                "slow","swing"
                );
        }
 ////////////////////////////////////////////////////////////////////////////////////
 
 
 // FUNZIONI PER L'INTERAZIONE CON LA JAPPLET /////////////////////////////////////
 
        // Creazione di un nuovo marker
        function createNewMarker(id, x, y, piano) {
 
                this.id = parseInt(id);
                this.x = parseInt(x);
                this.y = parseInt(y);
                this.piano = parseInt(piano)
                document.getElementById('the_iframe').contentWindow.addMarker(this.id, this.x, this.y, this.piano);
        }
 

        // aggiorno la modalità di funzionamento (marker o path)
        function updateOperationType(input) {
                console.log(input);
                mapGenerator.setOperation(input);
        }
        
        // aggiorno il piano selezionato
        function updateFloor(input) {
                mapGenerator.setFloor(input);
        }
        
        // abilito gli input per i marker e i piani
        function enableInputs() {
                document.getElementById('the_iframe').contentWindow.enableInputOptions();
        }
 
        // COMUNICO ALLA JAPPLET CHE HO CONCLUSO LE OPERAZIONI
        function operationComplete(saved, id, type, access) {
                mapGenerator.operationComplete(saved, id, type, access);
        }
        
        // Funzione chiamata dalla japplet per l'editing di un marker
        function editMarker(id) {
                document.getElementById('the_iframe').contentWindow.editMarker(parseInt(id));
        }
        
        function updatePosition(id, x, y) {
                document.getElementById('the_iframe').contentWindow.updatePosition(parseInt(id), parseInt(x), parseInt(y));
        } 
        
        // chiamata al momento della selezione di una path per proporre la sua cancellazione
        function deletePath() {
                document.getElementById('the_iframe').contentWindow.deletePath();
        }
 
        // funzione che viene chiamata ogni volta che è effettuata una validazione, per abilitare 
        // o disabilitare il pulsante "next"
        // 1 => abilita
        // 0 => disabilita
        function isValid(value) {
                document.getElementById('the_iframe').contentWindow.enableNext(parseInt(value));
        }
        
        
        // funzione per il recupero delle path e il parsing dell'output dell'Applet
        // #numero_di_piano;P.marker.id,P.x,P.y,A.marker.id,A.x,A.y; ... ## ... # ..
        function getPaths() {
                var temp_paths = mapGenerator.getPaths();
                var out = {};

                // divido i vari gruppi di array
                var array_list = temp_paths.split("#");
              
                for (var al in array_list) {
                
                        if (array_list[al].length > 0) {
                                
                                // separo i singoli oggetti
                                var objects = array_list[al].split(";");
                                
                                var numero_di_piano = parseInt(objects[0]);
                                var array = [];
                                for (var o in objects) {
                                        if ((objects[o].length > 0) && (o > 0)) {
                                                // estrapolo le coordinate
                                                var coordinates = objects[o].split(",");
                                                var path = []
                                                for (var i=0; i < 6; i++) 
                                                        path[i] = parseInt(coordinates[i]);
                                                
                                                // salvo le coodinate della path nell'array del piano
                                                array.push(path);
                                        }                                
                                } 
                                
                                // salvo l'array delle path del piano nel dizionario
                                out[numero_di_piano] = array;                        
                        }              
                }
                return out;        
        }
        
        
        
        // funzione per caricare i piani nelle options dell'iframe
        function sendFloorsToIframe(json) {
                var floors = [];
                
                for (var j in json) 
                        floors[floors.length] = parseInt(json[j].numero_di_piano);
                try {
                        document.getElementById('the_iframe').contentWindow.addFloor(floors);
                } catch (err) {
                        setTimeout(function() {sendFloorsToIframe(json); },500);
                }
        }
 
        
 
 
//////////////////////////////////////////////////////////////////////////////////////////////
  
  
  
  
  
       
  
 
 
</script>


<applet name="mapGenerator"
        id="mapGenerator"  
        code="main.MapGenerator.class"
        archive="{{STATIC_URL}}jar/MapGenerator.jar">
        <param name="MAYSCRIPT" value="true">             
</applet>
  

{% endblock body %}

{% block extra_body %}

<iframe width="100%" id="the_iframe" name="iframe" onLoad="calcHeight();" src="{% url buildings.views.step new_id=building.pk %}"  height="1" > An iframe capable browser is required to view this web site. </iframe>

{% endblock extra_body %}
