
<script type="text/javascript" 
        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js">
</script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.graphic.js">
</script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.marker.js">
</script>
        
<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.validation.js">
</script>
        
<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.pageInteraction.js">
</script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.next.js">
</script>

<script type="text/javascript">

        function initialize() {
        
                // blocco o forzo il refresh della pagina principale
                try {
                        window.top.stopRefresh();
                } catch (e) {
                        parent.location.reload(true);
                }
                
                // "nascondo" tutte le form al caricamento della pagina
                $(".app_input").hide();
                
                resize('buttons');
                
                /*
                var m = new Marker(1, 1, 1, 1);
                m.RFID = "a";
                m.ascensore = "A";
                
                var m1 = new Marker(2, 1, 1, 1);
                m1.RFID = "b";
                m1.scale = "C";
                
                var m2 = new Marker(3, 3, 1, 1);
                m2.ascensore = "A";
                
                var m3 = new Marker(4, 3, 1, 1);
                m3.nome_stanza = "ggg";
                m3.scala = "B";
                
                markers['1'] = m;
                markers['2'] = m1;
                markers['3'] = m2;
                markers['4'] = m3;
                updateElevatorAndStairList(m);
                updateElevatorAndStairList(m1);
                updateElevatorAndStairList(m2);
                updateElevatorAndStairList(m3);
                */
                
        }
  
 
 
 

///////////////////////////////////////////////////////////////////////////////////////////////////
// FUNZIONI PER IL CARICAMENTO DEL NUMERO DI PIANI NELLE OPTIONS E ABILITAZIONE DELLE STESSE:
// (chiamate dalla JApplet)

        // viene passato un array con i numeri di piano, il "selected" è sempre il primo
        // costruisco il campo delle options dei piani
        function addFloor(numero_piano) {
                
                var first = true;
                for (n in numero_piano) {
                        var newoption = document.createElement('option');
                        newoption.value = numero_piano[n];
                        newoption.text = numero_piano[n];
                        if (first) 
                                newoption.selected = "selected";      
                        first = false;
                        document.getElementById("floor_number").appendChild(newoption);        
                }
        
        }

        
        
        // aggiorno la modalità di funzionamento (marker o path)
        function updateOperationType(input) {
                window.top.updateOperationType(input.value);
        }
        
        // aggiorno il piano selezionato
        function updateFloor(input) {
                window.top.updateFloor(parseInt(input.value));
        }

        // comunico alla JApplet che ho concluso le operazioni
        // access => comunica alla JAPPLET che il marker è un ingresso, un ascensore o una scala
        function operationComplete(saved, id, type, access) {
                window.top.operationComplete(saved, id, type, access);
        }
        
        // propongo la cancellazione della path
        function deletePath() {
                resize('commands');
                resize('path');
        }

        // cancello la path
        function pathDeleted(value) {
                resize('path');
                window.top.operationComplete(value, 0, "path", false);
                resize('commands');
        }
        
        var oldValue = 0;
        // abilito il pulsante "next"
        function enableNext(value) {
                if (oldValue != value) {
                        resize('next');
                        oldValue = value;
                }
        }
//////////////////////////////////////////////////////////////////////////////////////////////   


</script>
 
<body onload="initialize()">

<div id="loading">
        Loading the applet and images...
</div>
<div id="commands_input" class="app_input">
        Select which object add:
        <select id="operation_type" onchange="updateOperationType(this)" disabled="true"  name="commands">
                <option value="none" selected="selected">None</option>
                <option value="marker">Marker</option>
                <option value="path" >Path</option>          
        </select>
        </br></br>
        Select on which floor:
        <select id="floor_number" onchange="updateFloor(this)" disabled="true"  name="commands">      
        </select>
        
        
</div>


<div id="marker_input" class="app_input"> 

<!-- RFID -->
        <input type="checkbox" id="marker_RFID" onchange="resize('RFID'); verify('RFID_text'); removeValidation(this, 'RFID')">RFID</input></br>
        <div id=RFID_input class="app_input">
                <input id="RFID_text" type="text" name="RFID" maxlength="200" oninput="validateFields(this)"/></br>
        </div>

        <input type="checkbox" name="access" onclick="disableCheckBoxes('access'); validateAccess(this); removeValidation(this, 'access')" id="marker_access" >Access</input><br>

<!-- ROOM -->
        <input type="checkbox" name="marker_type" onclick="resize('room'); disableCheckBoxes('room'); verify('room_name'); removeValidation(this, 'room');" id="marker_room" >Room</input><br>
        
        <div id="room_input" class="app_input" >
                Name*: <input id="room_name" type="text" name ="room" maxlength="50" oninput="validateFields(this)"/></br>
                Link: <input id="room_link" type="text" maxlength="100"/></br>
                People: <input id="room_people" type="text" maxlength="200"/></br>                
                Notes: <input id="room_notes" type="text" maxlength="200"/></br>
        </div>
       

<!-- ELEVATOR -->
        <input type="checkbox" name="marker_type" onclick="resize('elevator'); disableCheckBoxes('elevator'); verify('elevator_new_id'); removeValidation(this, 'elevator');" id="marker_elevator" >Elevator</input><br>
        
        <div id="elevator_input"class="app_input">
                <select id="elevator_options" name="elevator" onchange="enableNewId('elevator')">
                        <option value="" selected="selected">Create a new ID</option>          
                </select>
                </br>
                Create a new id: <input id="elevator_new_id" type="text" maxlength="50" oninput="testIfText(this, 'elevator')"/></br>
        </div>
        
     
<!-- STAIR -->  
        <input type="checkbox" name="marker_type" onclick="resize('stair'); disableCheckBoxes('stair'); verify('stair_new_id'); removeValidation(this, 'stair');" id="marker_stair" >Stair</input><br>

        <div id="stair_input" class="app_input">
                <select id="stair_options" name ="stair" onchange="enableNewId('stair')">
                        <option value="" selected="selected">Create a new ID</option>           
                </select>
                </br>
                Create a new id: <input id="stair_new_id" type="text" maxlength="50" oninput="testIfText(this, 'stair')"/></br>
        </div>
        
        
<!-- BUTTON SAVE AND CANCEL -->

        <div id="buttons_input" class="app_input">
                <button id="saveMarker" onclick="saveMarker()" disabled="true">Save</button>
                <button onclick="removeMarker(false)">Cancel</button>
                <button id="deleteMarker" onclick="showQuestion(true)" disabled="true" hidden ="true">Delete</button>
        </div> 
        

<!-- BUTTON ARE YOU SURE..? -->

        <div id="question_input" class="app_input">
                Do you really want to lost your work?</br>
                <button id="proceed" onclick="removeMarker(true)">Ok</button>
                <button onclick="showQuestion(false)">Cancel</button>
        </div>     
</div>

 <div id="path_input" class="app_input">
        Do you really want to delete this path?</br>
        <button onclick="pathDeleted(false)">Ok</button>
        <button onclick="pathDeleted(true)">Cancel</button>
</div> 
        
        
<div id="next_input" class="app_input">
        </br></br>
        <button onclick="nextStep()">Next</button>
</div> 


<form enctype="multipart/form-data" action="{% url buildings.views.step new_id=building.pk %}" method="post" id="myform">{% csrf_token %}

    <p><input type=submit" class="app_input" value="Next" onclick="resetHeight();"/></p>
</form>

<!--
{{pointForm}}
-->
</body>

