{% extends "generate_building.html" %} 


{% block body %}

<script type="text/javascript">



var modifica_tutti = false;

// array dei checkbox
var checkBox = new Array();

var map;



////////////////////////////////////////////////////////////////////////////
// OGGETTO PIANO //////////////////////////////////////////////////////////

function piano(positionInArray) {

        // dimensioni minime e massime in pixel dell'immagine (width)
        MIN_SIZE = 50;
        MAX_SIZE = 700;

        // fattore d'incremento dello zoom (in pixel)
        VALUE = -3;

        // fattore di arrotondamento (2 cifre decimali dopo la virgola)
        FACTOR = 100;
        
        // valore minimo di rotazione (per ora)
        INCREMENTO = -2.0;


        this.immagine = new Image();
        this.bearing = 0.0;
        this.baseZoom = 0;
        this.width = 0;
        this.original_width = 0;
        this.posizione = null;
        this.map = null;
        this.positionInArray = positionInArray;
        this.richMarker = null;
        this.bounds = null;
        
        this.setImage = setImage;
        function setImage(link) {
                
                var _this = this;
                
                this.immagine.src = link;
                
                this.immagine.onload = function() {
                        _this.original_width = this.width;
                        testImagesLoaded++;     
                        setRadioButtonsEnabled();        
                };  
        }
        
        this.setBounds = setBounds;
        function setBounds(bounds) {
                this.width = window.top.transformBoundsToPixels(bounds);
                this.posizione = bounds.getCenter();
                this.bounds = bounds;
                
                this.generateRichMarker(); 
        }
        
        this.setMap = setMap;
        function setMap(map) {
                this.map = map;
                this.baseZoom = map.getZoom();
        }
        
        this.writeZoom = writeZoom;
        function writeZoom() {
                
                // zoom
                var value = this.width / this.original_width;
                value = Math.round(value * FACTOR) / FACTOR; 
                document.getElementById("id_form-"+this.positionInArray+"-zoom_on_map").value = value;   
        }
        
        this.setZoom = setZoom;
        function setZoom(inside) {
                
                var val = VALUE;
        
                if (inside)
                        val = VALUE * -1;
                
                if (((this.width + val) > MIN_SIZE) && ((this.width + val) < MAX_SIZE)) 
                        this.width += val;
                        
                editRichMarker(this);
                        
                this.writeZoom(); 
                
                if (modifica_tutti) {
                        for (i in images) {
                                images[i].width = this.width;
                                images[i].writeZoom();
                        }
                }
        }
        
        this.writeBearing = writeBearing;
        function writeBearing() {
                document.getElementById("id_form-"+this.positionInArray+"-bearing").value = this.bearing;
        }
        
        this.setBearing = setBearing;
        function setBearing(left) {
                var inc = INCREMENTO;
                
                if (left) 
                        inc = INCREMENTO * -1;
                
                this.bearing += inc;
        
                if (this.bearing < 0)
                        this.bearing += 360.0;
                if (this.bearing > 360)
                        this.bearing -= 360.0;
         
                editRichMarker(this);
                
                this.writeBearing();    
                
                if (modifica_tutti) {
                        for (i in images) {
                                images[i].bearing = this.bearing;
                                images[i].writeBearing();
                        }
                }             
        }

        this.setPosizione = setPosizione;
        function setPosizione() {
                this.posizione = this.richMarker.getPosition();
                this.writePosizione();
                
                if (modifica_tutti) {
                        for (i in images) {
                                images[i].posizione = this.posizione;
                                images[i].writePosizione();
                        }
                } 
        }
        
        this.writePosizione = writePosizione;
        function writePosizione() {
                var pos = 
                        "POINT("+
                        this.posizione.lng()+
                        " "+this.posizione.lat()+
                        ")";
                document.getElementById("id_form-"+this.positionInArray+"-posizione_immagine").value = pos;              
        }
             
        this.writeAll = writeAll;
        function writeAll() {
                
                this.writeZoom();
                this.writeBearing();
                this.writePosizione();
        }   
       

        function editRichMarker(this_) {   
                this_.richMarker.setContent(
                        window.top.prepareImage(this_.bearing, this_.immagine, this_.width)
                );
                this_.richMarker.setPosition(this_.posizione);
                
        }

        this.generateRichMarker = generateRichMarker;
        function generateRichMarker() {

                this.richMarker = window.top.generateImageMarker(null, this.bounds, this.immagine);
                var _this = this;
                window.top.google.maps.event.addListener(this.richMarker, 'dragend', function(event) {
                        _this.setPosizione();     
                });
        }
        
        this.setRichMarkerVisible = setRichMarkerVisible;
        function setRichMarkerVisible() {
                
                for (i in images) 
                        images[i].removeRichMarker();
                
                this.richMarker.setMap(this.map);
        }
        
        this.removeRichMarker = removeRichMarker;
        function removeRichMarker() {
                this.richMarker.setMap(null);
        }
}

///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
// ROTAZIONE ///////////////////////////////////////////////////////////////


function rotateLeft() {
        images[setImageSelected].setBearing(true);
}

function rotateRight() {
        images[setImageSelected].setBearing(false);
}


////////////////////////////////////////////////////////////////////////////////////////
// ZOOM


function increaseSize() {
        images[setImageSelected].setZoom(true);
}

function decreaseSize() {
        images[setImageSelected].setZoom(false);
}

/////////////////////////////////////////////////////////////////////////////////
// RICHMARKER


// array delle immagini
var images = new Array();

// richMarker
var richMarker = null;

// vecchia immagine (corrisponde al numero di piano)
var setImageSelected = -1;

// funzione chiamata quando si "clicca" su un radioButton
function setImage(numero_di_piano) {

        // recupero l'immagine
        var i=0;
        for(; i<checkBox.length && checkBox[i] != numero_di_piano; i++);
        
        setImageSelected = i;
        
        if (images[0].bounds != null)
                images[i].setRichMarkerVisible();
        
                    
}

function setRichMarkerListener() {
        window.top.google.maps.event.addListener(richMarker, 'dragend', function(event) {
                images[setImageSelected].setPosizione() ;     
        });
}



////////////////////////////////////////////////////////////////////////////////////////

// variabile per verificare se tutte le immagini sono state caricate, ed abilitare
// quindi il richMarker
var testImagesLoaded = 0;

// carico tutte le immagini e imposto il metodo per abilitare tutti i richmarker
// una volta che queste siano state caricate
function load_images() {
        var counter = 0;
        {% for f in floors %}
                
                var piano_ = new piano(counter);
                piano_.setImage("{{MEDIA_URL}}{{ f.immagine }}")
                images.push(piano_);
                
                counter++;
        {% endfor %}         
        
} 



function setMap(map) {
        this.map = map;
}

function setRadioButtonsEnabled() {

        if ((bounds != null) && (testImagesLoaded == {{floors|length}}) && (map.getProjection() != null)) {
                for(b in checkBox) 
                        document.getElementById(checkBox[b]).removeAttribute("disabled");
                document.getElementById(checkBox[0]).click(); 
                window.top.google.maps.event.clearListeners(map, 'idle');
                
                for (i in images) {
                        images[i].setBounds(bounds);
                        images[i].setMap(map);                     
                        images[i].writeAll();
                }
                images[setImageSelected].setRichMarkerVisible();
        }
}

function modifyAll() {
        if (modifica_tutti)
                modifica_tutti = false;
        else
                modifica_tutti = true;
}
   
</script>

<p>Select floor:</p>
        {% for f in floors %}
                <input type="radio" name="group1" onclick="setImage({{ f.numero_di_piano }})" id="{{ f.numero_di_piano }}" disabled=true>{{f.numero_di_piano }}</input><br>
                
                
                <script>
                        checkBox.push("{{ f.numero_di_piano }}");
                </script>
               
        {% endfor %}
     </input>   
</form>
<br>
{% if floors|length > 1 %}
       <input type="checkBox" onclick="modifyAll()" id="checkBox">Set the same bearing for all the floors</input><br><br>
{% endif%}

<input type="button" value="<-" onclick='rotateLeft()'/>
<input type="button" value="->" onclick='rotateRight()'/>

<input type="button" value="+" onclick='increaseSize()'/>
<input type="button" value="-" onclick='decreaseSize()'/>

<br><br>

<form enctype="multipart/form-data" action="{% url buildings.views.step new_id=building.pk %}" method="post">{% csrf_token %}
        {{ floorForm }}
        
        
        
                {{ floorForm.errors }}
                {{ floorForm.non_form_errors }}
        
    <p><input type="submit" value="Next" onclick="resetHeight()"/></p>
</form>
</body>
{% endblock body %}
