{% extends "generate_building.html" %} 

{% block functions %}

<script type="text/javascript">

// funzione per il bottone di incremento/decremento del numero di piani
$(function() {

    $(".button").parent().find("input").prop('readonly', "readonly");
    $(".button").click(function() {
        var $button = $(this);
        var oldValue = $button.parent().find("input").val();
    
        if ($button.text() == "+") 
    	  var newVal = parseFloat(oldValue) + 1;
    	else {

    	  if (oldValue > 1) 
    	      var newVal = parseFloat(oldValue) - 1;
    	  else
    	        var newVal = 1;
    	}
    	$button.parent().find("input").val(newVal);
    });

});

function resetHeight() {
        window.top.setHeight(0);
}

</script>  

{% endblock functions %}


{% block body %}

<body>

<p> Hello!</p>
<p>Thank you for start creating a new building!!!</p>
<p>First of all, you have to draw the shape of your building on the map on the left.
Here are the instructions:</p> 
        <ul>
        <li>If you click on the map you create a new Marker.</li> 
        <li>If you click on a Marker, you can move or delete it.</li>
        <li>Be careful and accurate!</li>
        </ul>
        
<p> Down here you can tell us some additional details about your building.</p> 

<form enctype="multipart/form-data" action="{% url buildings.views.step new_id=building.pk %}" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.nome.errors }}
        {{ form.geometria.errors }}
        
        <label for="id_nome">Name*:</label></br>
        {{ form.nome }}
    </div> </br>
    
    <div class="fieldWrapper">
        {{ form.descrizione.errors }}
        
        <label for="id_nome">Descrizione:</label></br>
        {{ form.descrizione }}
    </div> </br>
    
    <div class="fieldWrapper" style="cols:20;">
        {{ form.link.errors }}
        
        <label for="id_nome">Link:</label></br>
        {{ form.link }}
    </div> </br>
    
    <div class="fieldWrapper" id="numero_di_piani">
        {{ form.numero_di_piani.errors }}
        <label for="id_numero_di_piani">Number of floors*:</label></br>
        <div id="input_numero_di_piani">
                {{ form.numero_di_piani }}
                <div class="inc button" 
                style="background: url({{STATIC_URL}}images/buttons.png) 
                        no-repeat; 
                        background-position: 0 -29px;">-</div>
                <div class="dec button"
                style="background: url({{STATIC_URL}}images/buttons.png) 
                        no-repeat;">+</div>
        </div>
    </div></br>
    <div class="fieldWrapper">
        {{ form.foto.errors }}
        <label for="id_foto">Insert a photo (optional):</label></br>
        {{ form.foto }}
    </div></br>
    <div class="fieldWrapper">
    {{ form.geometria }}
    </div>
    <div class="fieldWrapper">
    {{ form.posizione }}
    </div>
    <p><input type="submit" value="Next" onclick="resetHeight()"/></p>
</form>

{%endblock body %}
