{% extends "base.html" %}


{% block body %}
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
        
<script type="text/javascript">

        var counter = {};
 
 // FUNZIONI STANDARD DELLA PAGINA /////////////////////////////////////////////////
 
        // comunica all'iframe di fermare il refresh
        function stopRefresh() {
               return true;
        } 
 
        // questa funzione ridimensiona l'iFrame in base agli elementi mostrati
        function resizeIframe(value) {
                var new_heigth = $("#the_iframe").contents().find("body").outerHeight(true) + value;
         
                $("#the_iframe").animate(
                        {height: $("#the_iframe").contents().find("body").outerHeight(true) + value},
                                "slow","swing"
                );
        }
 ////////////////////////////////////////////////////////////////////////////////////
 
 
 // FUNZIONI PER L'INTERAZIONE CON LA JAPPLET /////////////////////////////////////
 
        // Creazione di un nuovo marker
        function createNewMarker(id, x, y, piano) {
 
                this.id = parseInt(id);
                this.x = parseInt(x);
                this.y = parseInt(y);
                this.piano = parseInt(piano)
                document.getElementById('the_iframe').contentWindow.addMarker(this.id, this.x, this.y, this.piano);
        }
 

        // aggiorno la modalità di funzionamento (marker o path)
        function updateOperationType(input) {
                mapGenerator.setOperation(input);
        }
        
        // aggiorno il piano selezionato
        function updateFloor(input) {
                mapGenerator.setFloor(input);
        }
        
        // abilito gli input per i marker e i piani
        function enableInputs() {
                document.getElementById('the_iframe').contentWindow.enableInputOptions();
        }
 
        // COMUNICO ALLA JAPPLET CHE HO CONCLUSO LE OPERAZIONI
        function operationComplete(saved, id, type) {
                mapGenerator.operationComplete(saved, id, type);
        }
        
        // Funzione chiamata dalla japplet per l'editing di un marker
        function editMarker(id) {
                document.getElementById('the_iframe').contentWindow.editMarker(parseInt(id));
        }
 

        // funzione per caricare i piani nelle options dell'iframe
        function sendFloorsToIframe(json) {
                var floors = [];
                
                for (var j in json) 
                        floors[floors.length] = parseInt(json[j].numero_di_piano);
                try {
                        document.getElementById('the_iframe').contentWindow.addFloor(floors);
                } catch (err) {
                        setTimeout(function() {sendFloorsToIframe(json); },500);
                }
        }
 
        // funzione per recuperare i piani tramite chiamata ad una pagina e passarli alla JApplet
        function getFloors() {

                var xmlHttp = null;

                xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", "{% url buildings.views.getFloors building_id=building.id %}", false );
                xmlHttp.send(null);
                var json = JSON.parse(xmlHttp.responseText);
                
                // invio i piani anche all'iframe per costuire le options di input
                sendFloorsToIframe(json);
                
                return json;
        }
 
 
//////////////////////////////////////////////////////////////////////////////////////////////
  
  
  
  
  
       
  
  
 
 function couples(name, value) {
        this.name = name;
        this.value = value;
 }
 
 function Point(piano, RFID, x, y, ingresso) {
 
        this.form_id = "pointForm";
        this.name = "points";         
        
        this.piano = new couples("piano", piano);
        this.RFID = new couples("RFID", RFID);
        this.x = new couples("x", x);
        this.y = new couples("y", y);
        
        if (ingresso)
                this.ingresso = new couples("ingresso", "True");
        else
                this.ingresso = new couples("ingresso", "False");
 
        this.array = array;
        function array() {
                return [this.piano, this.RFID, this.x, this.y, this.ingresso]; 
        }
 }
 
 function Path(a, b, ascensore, scala) {
 
        this.form_id = "pathForm";
        this.name = "paths";         
        
        this.a = couples("a", a);
        this.b = couples("b", b);
        this.ascensore = couples("ascensore", ascensore);
        this.scala = couples("scala", scala);
 
        this.array = array;
        function array() {
                return [this.a, this.b, this.ascensore, this.scala]; 
        }
 }
 
 function Room(punto, nome_stanza, persone, altro, link) {
 
        this.form_id = "roomForm";
        this.name = "rooms";         
        
        this.punto = couples("punto", punto);
        this.nome_stanza = couples("nome_stanza", nome_stanza);
        this.persone = couples("persone", persone);
        this.altro = couples("altro", altro);
        this.link = couples("link", link);
 
        this.array = array;
        function array() {
                return [this.punto, this.nome_stanza, this.persone, this.altro, this.link]; 
        }
        
 }
 
 function addInput(element) {
 
        ID = "id_";
        
        var iframe = document.getElementById('the_iframe');
        var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
        var form = innerDoc.getElementById(element.form_id);

        var number = counter[element.name];
        
        if (number == null) 
                number = 0;
        else
                number++;

        var elements = element.array();
        
        for (var i in elements) {
                var newform = innerDoc.createElement('input');
                newform.type = "hidden";
                newform.id = ID + element.name + "-" + number + "-" + elements[i].name;
                newform.name = element.name + "-" + number + "-" + elements[i].name;
                newform.value = elements[i].value;
                form.appendChild(newform);
        }
        
        counter[element.name] = number;
        
        return number;
 }
 
 
 function createPoint(piano, RFID, x, y, ingresso) {
        var p = new Point(piano, RFID, x, y, ingresso);
        return JSON.parse(addInput(p));
 }
 
</script>


<applet name="mapGenerator"
        id="mapGenerator"  
        code="main.MapGenerator.class"
        archive="
                {{STATIC_URL}}jar/MapGenerator.jar, 
                {{STATIC_URL}}jar/plugin.jar
        ">
        <param name="MAYSCRIPT" value="true">             
</applet>
  
<br>

<button onClick="test()"> test</button>
{% endblock body %}

{% block extra_body %}

<iframe width="100%" id="the_iframe" name="iframe" onLoad="calcHeight();" src="{% url buildings.views.step new_id=building.pk %}"  height="1" > An iframe capable browser is required to view this web site. </iframe>

{% endblock extra_body %}
