
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.graphic.js">
        </script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.marker.js">
        </script>
        
<script type="text/javascript"
        src="{{STATIC_URL}}java/step3.validation.js">
        </script>
        
<script type="text/javascript">

        function initialize() {
        
                // blocco o forzo il refresh della pagina principale
                try {
                        window.top.stopRefresh();
                } catch (e) {
                        parent.location.reload(true);
                }
                
                // "nascondo" tutte le form al caricamento della pagina
                $(".app_input").hide();
                
                resize('buttons');
                var m = new Marker(1, 1, 1, 1);
                m.RFID = "a";
                m.ascensore = "A";
                
                var m1 = new Marker(2, 1, 1, 1);
                m1.RFID = "b";
                m1.scale = "C";
                
                var m2 = new Marker(3, 3, 1, 1);
                m2.ascensore = "A";
                
                var m3 = new Marker(4, 3, 1, 1);
                m3.nome_stanza = "ggg";
                m3.scala = "B";
                
                markers['1'] = m;
                markers['2'] = m1;
                markers['3'] = m2;
                markers['4'] = m3;
                updateElevatorAndStairList(m);
                updateElevatorAndStairList(m1);
                updateElevatorAndStairList(m2);
                updateElevatorAndStairList(m3);
                
                
        }
  
 
 
 
//////////////////////////////////////////////////////////////////////////////////////////////////
// FUNZIONI PER IMPOSTARE UN MARKER NELLA FORM

        // carico nella form i dati di un marker già presente
        function showMarkerData(marker) {
        
                console.log(marker);
                // RFID
                if (marker.RFID != "") {
                        resize('RFID');
                        document.getElementById(createCheckBoxId('RFID')).checked = true; 
                        document.getElementById('RFID_text').value = marker.RFID;
                }
                
                // INGRESSO
                if (marker.ingresso) {
                        document.getElementById(createCheckBoxId('access')).checked = marker.ingresso;
                        disableCheckBoxes('access');
                }
                
                // STANZA
                else if (marker.nome_stanza != "") {
                        resize('room');
                        document.getElementById(createCheckBoxId('room')).checked = true;
                        disableCheckBoxes('room');
                        document.getElementById("room_name").value = marker.nome_stanza;
                        document.getElementById("room_link").value = marker.link;
                        document.getElementById("room_peoples").value = marker.persone;
                        document.getElementById("room_notes").value = marker.altro;
                }
                
                // ASCENSORE
                else if (marker.ascensore != "") 
                        setElevatorOrStair(marker.ascensore, 'elevator');
                
                // SCALA
                else if (marker.scale != "")
                        setElevatorOrStair(marker.scale, 'stair');
                        
                disableSaveButton(false);        
        }
 
        // imposto i valori del menu a tendina o del testo per gli ascensori o le scale
        function setElevatorOrStair(value, type) {
                resize(type);
                document.getElementById(createCheckBoxId(type)).checked = true;  
                disableCheckBoxes(type);
                childs =  document.getElementById(createOptionId(type)).children;
                var t = -1;
                for(i=0; i < childs.length; i++) 
                        if (childs.text == value) {
                                t = i;
                                break;
                        }    
                if (t > 0) 
                        document.getElementById(createOptionId(type)).selectedIndex = t;
                else
                        document.getElementById(createOptionNewidId(type)).value = value;
        }
        
//////////////////////////////////////////////////////////////////////////////////////////////////
// FUNZIONI PER IMPOSTARE I VALORI DELLE OPTIONS DI ASCENSORI E SCALE

        function setOptions(list, exclude_floor, name, add) {
                
                if (add) {
                        for(var l in list) {
                                // non considero il piano da escludere
                                if (l != exclude_floor) {
                                
                                        array = list[l];  
                                        for (a in array) {
                                                var newoption = document.createElement('option');
                                                newoption.value = array[a];
                                                newoption.text = array[a];
                                                document.getElementById(createOptionId(name)).appendChild(newoption);        
                                        } 
                                }
                        }
                }
                else {
                        child =  document.getElementById(createOptionId(name)).children;
                        for (var i=1; i < child.length; i++)                            
                                document.getElementById(createOptionId(name)).removeChild(child[i]);
                }
        }
        
        function setOptionsElevator(list, exclude_floor) {
                setOptions(list, exclude_floor, 'elevator', true);
        }
        
        function setOptionsStair(list, exclude_floor) {
                setOptions(list, exclude_floor, 'stair', true);
        }
        
        function removeOptionsElevator(list, exclude_floor) {
                setOptions(list, exclude_floor, 'elevator', false);
        }
        
        function removeOptionsStair(list, exclude_floor) {
                setOptions(list, exclude_floor, 'stair', false);
        }


//////////////////////////////////////////////////////////////////////////////////////////////////
// FUNZIONI PER ESTRARRE I DATI DAI CAMPI

        function getRFID() {
        
                checkbox = document.getElementById(createCheckBoxId("RFID"));
                text = document.getElementById(createInputId("RFID"));
                if (checkbox.checked)
                        return text.value;
                return "";       
        }
        
        function getRoom() {
                checkbox = document.getElementById(createCheckBoxId("room"));
                nome = document.getElementById("room_name");
                link = document.getElementById("room_link");
                persone = document.getElementById("room_peoples");
                altro = document.getElementById("room_notes");
                
                if (checkbox.checked)
                        return [nome.value, link.value, persone.value, altro.value]
                return ["", "", "", ""]; 
        }
        
        function getElevatorOrStair(value) {
                checkbox = document.getElementById(createCheckBoxId(value));
                option = document.getElementById(createOptionId(value)); 
                text = document.getElementById(createOptionNewidId(value));
                
                if (checkbox.checked) {
                        if (option.selectedIndex != 0)
                                return text.value;
                        else
                                return option.value;
                }
                return "";
        }
        
        function getElevator() {
                return getElevatorOrStair("elevator");
        }
        
        function getStair() {
                return getElevatorOrStair("stair");
        }
       

/////////////////////////////////////////////////////////////////////////////////////////////////////
// FUNZIONI PER ASTRARRE LA CREAZIONE DI ID HTML E L'ABILITAZIONE DEI PULSANTI DALLE ALTRE FUNZIONI

        // funzione per abilitare/disabilitare il pulsante di salvataggio       
        function disableSaveButton(value) {
                document.getElementById("saveMarker").disabled = value;
        } 
        
        // funzione per convertire il salvataggio in Edit       
        function toEditButton() {
                disableSaveButton(false);
                document.getElementById("saveMarker").text = "Edit";
                hideDeleteButton(false);
        }   
        
        // funzione per convertire il salvataggio in save
        function toSaveButton() {
                disableSaveButton(true);
                document.getElementById("saveMarker").text = "Save";
                hideDeleteButton(true);
        }
        
        // funzione per mostrare o disabilitare il pulsante DELETE
        function hideDeleteButton(value) {
                document.getElementById("deleteMarker").disabled = value;
                document.getElementById("deleteMarker").hidden = value;
        }    

        // funzione per la costruzione dell'id dei campi input in base al valore passato
        function createInputId(name) {
                return name + "_input";
        }

        // funzione per la costruzione dell'id dei checkBox in base al valore passato
        function createCheckBoxId(name) {
                return "marker_" + name;
        }

        // funzione per la costruzione dell'id delle Options in base al valore passato
        function createOptionId(name) {
                return name + "_options";
        }

        // funzione per la costruzione dell'id dei campi testo delle Options in base al valore passato
        function createOptionNewidId(name) {
                return name + "_new_id";
        }
 
//////////////////////////////////////////////////////////////////////////////////////////////   


</script>
 
<body onload="initialize()">


<div id="marker_input" class="app_input"> 

<!-- RFID -->
        <input type="checkbox" id="marker_RFID" onchange="resize('RFID'); verify('RFID_text'); removeValidation(this, 'RFID')">RFID</input></br>
        <div id=RFID_input class="app_input">
                <input id="RFID_text" type="text" name="RFID" maxlength="200" oninput="validateFields(this)"/></br>
        </div>

        <input type="checkbox" name="access" onclick="disableCheckBoxes('access'); validateAccess(this); removeValidation(this, 'access')" id="marker_access" >Access</input><br>

<!-- ROOM -->
        <input type="checkbox" name="marker_type" onclick="resize('room'); disableCheckBoxes('room'); verify('room_name'); removeValidation(this, 'room');" id="marker_room" >Room</input><br>
        
        <div id="room_input" class="app_input" >
                Name*: <input id="room_name" type="text" name ="room" maxlength="50" oninput="validateFields(this)"/></br>
                Link: <input id="room_link" type="text" maxlength="100"/></br>
                People: <input id="room_people" type="text" maxlength="200"/>                
                Notes: <input id="room_notes" type="text" maxlength="200"/></br>
        </div>
       

<!-- ELEVATOR -->
        <input type="checkbox" name="marker_type" onclick="resize('elevator'); disableCheckBoxes('elevator'); verify('elevator_new_id'); removeValidation(this, 'elevator');" id="marker_elevator" >Elevator</input><br>
        
        <div id="elevator_input"class="app_input">
                <select id="elevator_options" name="elevator" onchange="enableNewId('elevator')">
                        <option value="" selected="selected">Create a new ID</option>          
                </select>
                </br>
                Create a new id: <input id="elevator_new_id" type="text" maxlength="50" oninput="testIfText(this, 'elevator')"/></br>
        </div>
        
     
<!-- STAIR -->  
        <input type="checkbox" name="marker_type" onclick="resize('stair'); disableCheckBoxes('stair'); verify('stair_new_id'); removeValidation(this, 'stair');" id="marker_stair" >Stair</input><br>

        <div id="stair_input" class="app_input">
                <select id="stair_options" name ="stair" onchange="enableNewId('stair')">
                        <option value="" selected="selected">Create a new ID</option>           
                </select>
                </br>
                Create a new id: <input id="stair_new_id" type="text" maxlength="50" oninput="testIfText(this, 'stair')"/></br>
        </div>
        
        
<!-- BUTTON SAVE AND CANCEL -->

        <div id="buttons_input" class="app_input">
                <button id="saveMarker" onclick="saveMarker()" disabled="true">Save</button>
                <button onclick="removeMarker(false)">Cancel</button>
                <button id="deleteMarker" onclick="showQuestion(true)" disabled="true" hidden ="true">Delete</button>
        </div> 
        

<!-- BUTTON ARE YOU SURE..? -->

        <div id="question_input" class="app_input">
                Do you really want to lost your work?</br>
                <button id="proceed" onclick="removeMarker(true)">Ok</button>
                <button onclick="showQuestion(false)">Cancel</button>
        </div>     


</div>

{%for form in pointForm.forms %}

{{form}}

{% endfor %}
<form enctype="multipart/form-data" action="{% url buildings.views.step new_id=building.pk %}" method="post">{% csrf_token %}
<div id="pointForm"></div>
<div id="pathForm"></div>
<div id="roomForm"></div>
        
    <p><input type="submit" value="Next" onclick="resetHeight()"/></p>
</form>

<button onclick="addMarker(7, 1, 1, 1)">test</button>
<button onclick="editMarker(1)">test1</button>


</body>

