<script type="text/JavaScript">
        function timedRefresh(timeoutPeriod) {
	        setTimeout("location.reload(true);",timeoutPeriod);
        }
</script>

<body onload="timedRefresh(5000);">


        {% if recent.count > 0 %}
                Last buildings update: </br></br>
                
                {% for r in recent %}
                        {{r.utente}} has updated <a href="{% url buildings.views.detail building_id=r.id %}" >{{r.nome}}</a>
                        </br></br>
                        
                
                {%endfor%}
        {% else %}
                No updates rigth now!
        {%endif%}



</body>
