{% extends "base.html" %}

{% block imports %} 
        
        <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA6Cod-waBAQwWkS-vEsAIST3x2HtgsaNg&sensor=false">
        </script>
        
        <script type="text/javascript"
        src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js">
        </script>

        <script type="text/javascript" 
       src="{{STATIC_URL}}java/map.index.js"> 
       </script>
       
        <script type="text/javascript" 
       src="{{STATIC_URL}}java/map.geocoding.js"> 
       </script>
        
<script type="text/javascript">


   
function initialize() {
        
        changeLinkColor("home");

        var mapOptions = {
                center: new google.maps.LatLng(-0, 0),
                zoom: 1,
                mapTypeId: google.maps.MapTypeId.HYBRID
        };
        
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        
        
        {% if buildings %}
                var infobubbles = new Array();
                var counter = 0;
                {% for building in buildings %}
                        var lat = parseFloat("{{building.posizione.y}}");
                        var lng = parseFloat("{{building.posizione.x}}");
                        var myLatlng = new google.maps.LatLng(lat, lng);

                        infobubble =  create_infoBubble(myLatlng, 
                                        "{{building.nome}}",
                                        "{% url buildings.views.detail building.id %}", 
                                        "{{MEDIA_URL}}{{building.foto}}", 
                                        map
                                );
                        google.maps.event.addListener(map, 'click', function() {
                                infobubble.close();
                        }); 
                {% endfor %}
        {% endif %} 
}
</script>
{%endblock imports %}



 {% block body %}
  <body onload="initialize()">
  
    <input id="address" input type="text" style="color:#888;" 
    value="Write an address here!" onfocus="inputFocus(this)" onblur="inputBlur(this)" />
      <input type="button" value="Find!" onclick="codeAddress()">
      
    <div id="map_canvas"></div>
 {% endblock body %}


