<!DOCTYPE html>


<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script> 


<script> 
        // variabile per bloccare l'update quando non è necessario
        var update = true;
        
        // funzione per l'aggiornamento automatico del pannello destro 
        setInterval( function() {
                if (update)            
                        $('#right_panel').fadeOut('fast').load('{% url buildings.views.update_list %}').fadeIn("slow");
        }, 60000);
        
        
        // funzione per cambiare il colore dei link di navigazione in base a che pagina è visualizzata
        function changeLinkColor(place) {  
                link = document.getElementById(place + "_link");
                link.style.color = "#ff8800";  
        }
        
</script>  


<div id="Imports">

        <!-- Blocchi per importare i Javascript -->
        {% block imports %}
        {% endblock imports %}
</div>


<!-- carico SEMPRE i dati dell'utente -->
{% load account %} 
       
<html>

        <head>
                <title>
                        {% block head_title %}
                                iNav, THE internal navigation App
                        {% endblock head_title %}
                </title>
        </head>
  
  
        <body>    
  
                <header id="page_header" class="nav_link">
  
                        <a href="{% url buildings.views.show %}" style="display: block">
                        <img alt="iNav, THE internal navigation app" height="194px;" src="{{STATIC_URL}}images/header.png" style="display:block; margin-left:auto; margin-right:auto" width="960px;">
</a> 
                      
                       
                        <nav id="navigation">
                        <ul>
                                         {% if user.is_superuser %}
                                                       <li><a href="{% url admin:index %}">Administration</a></li>
                                         {% endif %}
                                                
                                        <li><a id="home_link" href="{% url buildings.views.index %}">Home</a></li>
                                        
                                        {% if user.is_authenticated %}
                                                
                                                {% if user.useradditionalfields.complete_buildings > 0 %}
                                                        <li><a 
                                                                id="my_buildings_link" 
                                                                href="{% url buildings.views.my_buildings %}">
                                                                My Buildings
                                                        </a></li>
                                                {% endif %}
                                                
                                                {% if user.useradditionalfields.incomplete_buildings < 3 %}
                                                        <li><a 
                                                                id="new_building_link" 
                                                                href="{% url buildings.views.generate_building idb=-1 %}">
                                                                New Building
                                                        </a></li>
                                                {% endif %}
    
    <!-- MANCA ANCORA QUESTA PAGINA -->
                                                {% if user.useradditionalfields.incomplete_buildings > 0 %}
                                                        <li><a id="incomplete_buildings_link" href="">Incomplete Buildings</a></li>
                                                {% endif %}
                                                
                                                <li><a href="{% url account_logout%}">Logout</a></li>
                                                
                                        {% else %}
                                        
                                                <li><a href="{% url account_login %}">Login</a></li>  
                                                <li><a href="{% url account_signup %}">Sign up</a></li>
                        
                                        {% endif %}
                               
                        </ul>
                        </nav>
                       
                </header>
  <span class="container_link">
          <div id="container">
                <!-- testo principale -->
                <section id="contents_left">
                        {% block body %}  
                                
                        {% endblock body %}
                </section>
                
                <section id="right_panel">
                
                        {% block extra_body %}  
                                
                                <!-- primo caricamento della lista -->
                                <script>
                                        $('#right_panel').load('{% url buildings.views.update_list %}')
                                </script>
                               
                        {% endblock extra_body %}  
                </section>
                
          </div>
            
          <footer id="page_footer">
            
               <p> copright MF segnalazione a pippo ingarsia</p>
          </footer>
  </span>
    
 </body>
</html>


