.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #ccc;
}

#floor_list label {
    display: inline-block;
    cursor: pointer;
}

#floor_list label img {
    padding: 3px;
}
