html { 
        height: 100%;
        width:100%;
}

body { 
        font-family: Arial, "MS Trebuchet", sans-serif;
}

header {
        padding-top:10px;
}

#navigation {
        padding-top: 10px;
        float:right;
}


#page_header nav ul li, #page_footer nav ul li {
        list-style: none;
        margin: 0 20px 0 0;
        padding-left: 0;
        display:inline;
}


footer {
        clear:  both;
        width: 100%;
        display: block;
        padding-top:10px;
        text-align:center;
}

#container {
        display:block;
        width:100%;
        padding-top: 10px;
}

section#contents_left {
        float: left;
        width: 70%;
        
}

section#right_panel {
        float:right;
        width: 30%;
        padding-top:10px; 
}










/* LINK *******************************/

a:link, a:visited, a:hover {
        background-color: transparent;
        text-decoration: none;
}


.nav_link a:link, .nav_link a:visited {
        color: black;
}

.nav_link a:hover {
        color: #7aacd6;
}

.container_link a:link, .container_link a:visited {
        color: #2f3dcc;
}

.container_link a:hover {
        color: #7aacd6;
}


/************************************/
/****************************************************************************************/

/*


p {
        margin:0 0 20px 0;
}




#title {
        text-align:center;
        font-size: 50px; 
        font-weight: bold;
        font-family: arial, verdana, sans-serif;
}














/*******************************************************************************/


#map_canvas, #mapGenerator { 
        height:400px;
        width:95%; 
        position:center;
        border:1px solid blue;
        padding:2px;
        margin-bottom:5px;
}

#map_details { 
        height:150px;
        width:250px; 
        position:center;
        border:1px solid blue;
        padding:2px;
        margin-bottom:5px;
}

#id_numero_di_piani {
        width:35px;
        float:left;
}

#input_numero_di_piani { 
        overflow: hidden; 
        width: 120px; 
}


.button { 
        margin: 0 0 0 5px; 
        text-indent: -9999px; 
        cursor: pointer; 
        width: 29px; 
        height: 29px; 
        float: right; 
        text-align: center;
}

.errorlist {
       list-style: none;
       color: red; 
       padding-left:0;
       padding-bottom:0;
}

#id_descrizione {
        width:250px;
}

.app_input {
        position: absolute, 
        display: block
}

