{% extends "base.html" %}

{% block imports %} 


<script type="text/javascript"
        src="{{STATIC_URL}}java/generate/step5.input_objects.js">
</script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/generate/step5.base_objects.js">
</script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/generate/step5.java_communication.js">
</script>



<script type="text/javascript">

        /////////////////////////////////////////////////////////////////////////////////////////////////
        // VARIABILI
        
        GET_FLOORS = '{% url buildings.views.getFloors building_id=building %}';
        
        //////////////////////////////////
        // ARRAY DI CONTROLLO!!!!!

        // array degli RFID
        RFID = [];
        
        // lista degli ascensori
        lift = {};
        
        // lista delle scale
        stair = {};       
        
        // lista delle stanze
        room = []; 
        
        //////////////////////////////////
        
        // form di input
        form;
        
        // array dei numeri di piano
        floors = [];
        
        // piano selezionato
        selected_floor = undefined;
        
        // END VARIABILI
        ////////////////////////////////////////////////////////////////////////////////////////////////////
        
        
        
        // gestione della form di input
        function form() {
              
                var loading = document.getElementById("loading");
                
                var operation = document.getElementById("operation_type");
                
                var floor_list = document.getElementById("floor_number");
                
                var commands = new showHide("commands_input");
                
                var marker = new showHide("marker_input");
               
                var marker_d = new marker_data();
           
               
                // pulsanti
                var save = document.getElementById("saveMarker");
                var cancel = document.getElementById("cancelMarker");
                var deletem = document.getElementById("deleteMarker");   
                             
                // funzione per la validazione dell'input (e abilitare il pulsante "save")
                // verifico sia che i campi siano validi, sia che siano abilitati
                function checkIfValid() {
                        save.disabled = !marker_d.isValid();
                        setTimeout("checkIfValid()", 1000);
                }
                
                // funzione chiamata al termine del caricamento della JApplet
                this.loaded = loaded;
                function loaded() {
                        
                        // nascondo il "loading..."
                        loading.hidden = true;
                        
                        // abilito il campo "operazioni" e imposto la funzione chiamata
                        operation.disabled = false;
                        operation.onchange = function() {
                                mapGenerator.setOperation(operation.value);
                        };
                        
                        // abilito e popolo il campo "numero di piani"
                        floor_list.disabled = false;
                        var first = true;
                        for (f in floors) {
                                var newoption = document.createElement('option');
                                newoption.value = floors[f];
                                newoption.text = 'Floor: ' + floors[f];
                                if (first) {
                                        newoption.selected = "selected";  
                                        selected_floor = floors[f];
                                }    
                                first = false;
                                floor_list.appendChild(newoption);        
                        }
                        // aggiungo l'ascoltatore per l'operazione
                        floor_list.onchange = function() {
                                mapGenerator.setFloor(floor_list.value);
                                selected_floor = floor_list.selected
                        }
                        
                        commands.show(); 
                }
                
                this.new_marker = new_marker;
                function new_marker() {
                        marker.show(); 
                }
              
        
        
        
        }
         
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        ////////////////////////////////////////////////////////////////////////////////////////////////
        function initialize() { 
        
                // inizializzo la form
                form = new form();
                
                // "nascondo" tutte le form al caricamento della pagina
                $(".app_input").hide();
        }
 
</script>

{%endblock imports %}

{% block body %}
<body onload="initialize()">    

        
<object classid="java:main.MapGenerator.class" 
        type="application/x-java-applet"
        archive="{{STATIC_URL}}jar/MapGenerator.jar"
        name="mapGenerator"
        id="draw_canvas"
        cache_option="no"
        MAYSCRIPT="true">       
</object>

</body>
{% endblock body %}

{% block extra_body %}  
        <script>
                // blocco l'aggiornamento del pannello laterale
                update = false;
        </script>
    
<div id="loading">
        Loading the applet and images...
</div>

<div id="commands_input" class="app_input">
        Select which object add:
        <!-- OPERATION TYPE -->
        <select id="operation_type" disabled="true"  name="commands">
                <option value="none" selected="selected">None</option>
                <option value="marker">Marker</option>
                <option value="path" >Path</option>          
        </select>
        </br></br>
        <!-- FLOOR SELECTION -->
        Select on which floor:
        <select id="floor_number" disabled="true"  name="commands">      
        </select>       
</div>

<div id="marker_input" class="app_input"> 

<!-- RFID -->
        <input type="checkbox" id="marker_RFID">RFID</input></br>
        <div id=RFID_input class="app_input">
                <input id="RFID_text" type="text" name="RFID" maxlength="200"/></br>
        </div>

<!-- ACCESS -->
        <input type="checkbox" name="access" id="marker_access" >Access</input><br>

<!-- ROOM -->
        <input type="checkbox" name="marker_type" id="marker_room" >Room</input><br>
        
        <div id="room_input" class="app_input" >
                Name*: <input id="room_name" type="text" name ="room" maxlength="50"/></br>
                Link: <input id="room_link" type="text" maxlength="100"/></br>
                People: <input id="room_people" type="text" maxlength="200"/></br>                
                Notes: <input id="room_notes" type="text" maxlength="200"/></br>
        </div>
       

<!-- ELEVATOR -->
        <input type="checkbox" name="marker_type" id="marker_elevator" >Elevator</input><br>
        
        <div id="elevator_input"class="app_input">
                <select id="elevator_options" name="elevator">
                        <option value="" selected="selected">Create a new ID</option>          
                </select>
                </br>
                Create a new id: <input id="elevator_new_id" type="text" maxlength="50"/></br>
        </div>
        
     
<!-- STAIR -->  
        <input type="checkbox" name="marker_type" id="marker_stair" >Stair</input><br>

        <div id="stair_input" class="app_input">
                <select id="stair_options" name ="stair">
                        <option value="" selected="selected">Create a new ID</option>           
                </select>
                </br>
                Create a new id: <input id="stair_new_id" type="text" maxlength="50"/></br>
        </div>
        
        
<!-- BUTTON SAVE AND CANCEL -->

        <div id="buttons_input" class="app_input">
                <button id="saveMarker" onclick="saveMarker()" disabled="true">Save</button>
                <button id="cancelMarker" onclick="removeMarker(false)">Cancel</button>
                <button id="deleteMarker" onclick="showQuestion(true)" disabled="true" hidden ="true">Delete</button>
        </div> 
        

<!-- BUTTON ARE YOU SURE..? -->

        <div id="question_input" class="app_input">
                Do you really want to lost your work?</br>
                <button id="proceed" onclick="removeMarker(true)">Ok</button>
                <button onclick="showQuestion(false)">Cancel</button>
        </div>     
</div>


<form action="{% url buildings.views.generate_building idb=building %}" method="post">{% csrf_token %}

        <div id='points'>
                {{ point }}
        </div>
        
        <div id='paths'>        
                {{ path }}
        </div>
        
        <div id='rooms'>        
                {{ room }}
        </div>
                
<input type="submit" value="Save and close" id ='submit' disabled='true'>

{% endblock extra_body %} 
