{% extends "base.html" %}

{% load thumbnail %}

{% block imports %} 
        
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/step4.css" />
        
        <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key={{G_MAPS}}&sensor=false&libraries=geometry">
        </script>
        
        <script type="text/javascript" 
       src="{{STATIC_URL}}java/map.index.js"> 
       </script>
       
       <script type="text/javascript" 
       src="{{STATIC_URL}}java/generate/richmarker.js"> 
       </script>
       
       <script type="text/javascript" 
       src="{{STATIC_URL}}java/generate/map.step4.drawRichMarker.js"> 
       </script>
       
       
        
<script type="text/javascript">

        
        
        // VARIABILI /////////////////////////////////////////////////////////////////////////

        
        // Declinazione magnetica rispetto al nord di google, indispensabile per ruotare correttamente
        // le mappe
        declinazione = {{ declinazione }};

        // contenitore delle immagini
        images = {};
        
        // contiene tutti i poligoni che saranno disegnati sulla mappa, compreso quello creato dall'utente
        var polygons = new google.maps.MVCArray();

        // mappa
        var map;
        
 
        // chiamata al loading della pagina
        function initialize() {
                
                // imposto la voce del menù di navigazione
                changeLinkColor("new_building");
                
                // carico la mappa
                loadMap();
                
                // carico il poligono dell'utente
                polygons = parseJSONPolyline({{geometria.geojson|safe}}, {{user.id}}, polygons, map);
                
                // imposto la posizione della mappa sul poligono, e limito gli spostamenti dell'utente
                setAndBlockPolygon(polygons.getAt(0), map);
                
                // nascondo i radio button delle immagini
                $('#floor_list input:radio').addClass('input_hidden');
  set();
        }

        // Caricamento della mappa
        function loadMap() {

                mapOptions = {
                        center: new google.maps.LatLng(-0, 0),
                        zoom: 1,
                        mapTypeId: google.maps.MapTypeId.HYBRID,
                        
                        // imposto lo zoom minimo della mappa
                        minZoom:16
                };
                
                map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);      
        }
        
        // salvo un'immagine nel suo contenitore
        function addImage(link, id) {
                immagine = new Image();
                immagine.src = link;
                images[id] = immagine;
        }
        
        function set() {
                
                $('#floor_list label').click(function(){
                        $(this).addClass('selected').siblings().removeClass('selected');
                });
        }
        
        function updateRichMarker(value) {
                console.log(images[value]);
        }
</script>

{%endblock imports %}




{% block body %}

<body onload="initialize()">
  
    <div id="map_canvas"></div>

</body>
{% endblock body %}


{% block extra_body %}  
        <script>
                // blocco l'aggiornamento del pannello laterale
                update = false;
        </script>


<p>Here you have to set the magnetic declination of your floors.</p>
<p>Select a floor from the list and rotate / move / resize the image on the map until it fits,
or input manually the magnetic declination</p>

<div id="floor_list">
{% for floor in floors %}

        <input type="radio" name="image_list" onclick="updateRichMarker({{ floor.numero_di_piano }});">
        
        {% thumbnail floor.immagine "x100" as im %}
             <label for="floor_{{ floor.numero_di_piano }}"><img src="{{ im.url }}" alt="{{ floor.numero_di_piano }}" /></label>   
        {% endthumbnail %}
        
        <script type="text/javascript">
                {% thumbnail floor.immagine "x400" as im %}
                        addImage("{{ im.url }}" , {{ floor.numero_di_piano }}); 
                {% endthumbnail %}
        </script>
        
        </input><br>

{% endfor %} 
</div>       
        <form action="{% url buildings.views.generate_building idb=building %}" method="post">{% csrf_token %}
                {{ formset }}
        <input type="submit" value="Next step" id ='submit' disabled='true'>
        
{% endblock extra_body %}  

