{% extends "base.html" %}

{% block imports %} 


<script type="text/javascript"
        src="{{STATIC_URL}}java/generate/step5.input_objects.js">
</script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/generate/step5.form.js">
</script>

<script type="text/javascript"
        src="{{STATIC_URL}}java/generate/step5.java_communication.js">
</script>



<script type="text/javascript">

        /////////////////////////////////////////////////////////////////////////////////////////////////
        // VARIABILI
        
        GET_FLOORS = '{% url buildings.views.getFloors building_id=building %}';
        
        
        // form di input
        form;
        
        // Array delle liste di esclusione
        var rfid_l = [];
        var lift_l = {};
        var stair_l = {};
        var room_l = [];
        
        // array dei numeri di piano
        floors = [];
        
        // piano selezionato
        selected_floor = undefined;
        
        
        
        
        // END VARIABILI
        ////////////////////////////////////////////////////////////////////////////////////////////////////
        
   
        
        
        
        ////////////////////////////////////////////////////////////////////////////////////////////////
        function initialize() { 
                
                // manca caricamento dei dati
                
                
                // inizializzo la form
                form = new form();
                
                // "nascondo" tutte le form al caricamento della pagina
                $(".app_input").hide();
        }
 
</script>

{%endblock imports %}

{% block body %}
<body onload="initialize()">    

        
<object classid="java:mapGenerator.MapGenerator.class" 
        type="application/x-java-applet"
        archive="{{STATIC_URL}}jar/MapGenerator1.jar"
        name="mapGenerator"
        id="draw_canvas"
        MAYSCRIPT="true"
        cache_option="no">       
</object>

</body>
{% endblock body %}

{% block extra_body %}  
        <script>
                // blocco l'aggiornamento del pannello laterale
                update = false;
        </script>
    
<div id="loading">
        Loading the applet and images...
</div>

<div id="commands_input" class="app_input">
        Select which object add:
        <!-- OPERATION TYPE -->
        <select id="operation_type" disabled="true"  name="commands">
                <option value="marker" selected="selected">Marker</option>
                <option value="path" >Path</option>          
        </select>
        </br></br>
        <!-- FLOOR SELECTION -->
        Select on which floor:
        <select id="floor_number" disabled="true"  name="commands">      
        </select>       
</div>

<div id="marker_input" class="app_input"> 

<!-- RFID -->
        <input type="checkbox" id="marker_RFID">RFID</input></br>
        <div id=RFID_input class="app_input">
                <input id="RFID_text" type="text" name="RFID" maxlength="200"/></br>
        </div>

<!-- ACCESS -->
        <input type="checkbox" name="access" id="marker_access" >Access</input><br>

<!-- ROOM -->
        <input type="checkbox" name="marker_type" id="marker_room" >Room</input><br>
        
        <div id="room_input" class="app_input" >
                Name*: <input id="room_name" type="text" name ="room" maxlength="50"/></br>
                Link: <input id="room_link" type="text" maxlength="100"/></br>
                People: <input id="room_people" type="text" maxlength="200"/></br>                
                Notes: <input id="room_notes" type="text" maxlength="200"/></br>
        </div>
       

<!-- ELEVATOR -->
        <input type="checkbox" name="marker_type" id="marker_elevator" >Elevator</input><br>
        
        <div id="elevator_input"class="app_input">
                <select id="elevator_options" name="elevator">
                        <option value="" selected="selected">Create a new ID</option>          
                </select>
                </br>
                Create a new id: <input id="elevator_new_id" type="text" maxlength="50"/></br>
        </div>
        
     
<!-- STAIR -->  
        <input type="checkbox" name="marker_type" id="marker_stair" >Stair</input><br>

        <div id="stair_input" class="app_input">
                <select id="stair_options" name ="stair">
                        <option value="" selected="selected">Create a new ID</option>           
                </select>
                </br>
                Create a new id: <input id="stair_new_id" type="text" maxlength="50"/></br>
        </div>
        
        
<!-- BUTTON SAVE AND CANCEL -->

        <div id="buttons_input" class="app_input">
                <button id="save" disabled="true">Save</button>
                <button id="cancel" >Cancel</button>
                <button id="delete" disabled="true" hidden ="true">Delete</button>
        </div> 
        

<!-- BUTTON ARE YOU SURE..? -->

        <div id="question_input" class="app_input">
                Do you really want to lost your work?</br>
                <button id="proceed">Ok</button>
                <button id="go_back">Cancel</button>
        </div>     
</div>


<form action="{% url buildings.views.generate_building idb=building %}" method="post">{% csrf_token %}

        <div id='points'>
                {{ point }}
        </div>
        
        <div id='paths'>        
                {{ path }}
        </div>
        
        <div id='rooms'>        
                {{ room }}
        </div>
                
<input type="submit" value="Save and close" id ='submit' disabled='true'>

{% endblock extra_body %} 
