{% extends "base.html" %} 




{% block body %}
        
<script type="text/javascript" 
src="{{STATIC_URL}}java/generate/map.step3.floorManagement.js"> 
</script>

<script>
        function initialize() {
                changeLinkColor('new_building'); 
                setMaxFloors({{ MAX_FLOORS }});
                enableDelete();
                addOnChange();
        }
 
</script>


<body onload="initialize()">

        <p>Now you have to insert some data about the floors that you want to map.</p>
        <p>You can insert not more of {{ MAX_FLOORS }} floors!</p>
        </br>

        <form enctype="multipart/form-data" action="{% url buildings.views.generate_building idb=building %}" method="post">
        {% csrf_token %}
        
                    {{ formset.management_form }}
                       
                    {% for form in formset %}   
                            <div id="form">   
                                    <div class="fieldWrapper">
                                        <p>
                                        {{ form.immagine.errors }}
                                        
                                        <label for="id_immagine">Image:</label>
                                        {{ form.immagine }}
                                        </p>
                                    </div>
                                    
                                    
                                    <div class="fieldWrapper">
                                        <p>
                                        {{ form.numero_di_piano.errors }}
                                        
                                        <label for="id_nome">Number:</label>
                                        {{ form.numero_di_piano }}
                                        </p>
                                        
                                        <input type="button" value="Delete"  onclick="deleteFloor(this.parentElement)"/>
                                        
                                        </br>
                                    </div>
                             </div>
                    {% endfor %}
            </br></br>    
            <input type="button" value="Add Floor" id="add_floor" onclick="addFloor()"/>  
            <p><input type="submit" value="Next Step" id="next"/></p>
        </form>
</body>
{%endblock body %}
